@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=PT+Sans+Narrow:wght@400;700&display=swap');


html,body{
    margin: 0;
}
ul,li,ol{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4,h5,h6,figure,p{margin: 0;}
img{vertical-align: top;}
a{text-decoration: none;}

*, ::before, ::after{
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'PT Sans Narrow', 'Noto Sans KR';
}





/* HEADER */
header{
    width:100%;
    position: fixed;
    right: 0; top: 0;
    z-index: 900;
}
header > div{z-index: 10;}
header > div > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 23px 15%;  
    width: 100%;
    margin: 0 auto;
    background: #d8d2c5;
    border-radius: 0 0 50px 50px;
    position:relative;
    z-index: 2;
}
header div h1{}
header div h1 img{
    width: 100px; height: 35px;
    margin-right: 40px;
}
header div .meleft{
    margin-right: auto;
}
header div .meleft ul{}
header div .meleft ul li{
    display: inline-block;
    position: relative;
}
header div .meleft ul li a{
    margin: 0 2vw;
    font-size: 17px;
    color: #6d6d6d;
    font-weight: bold;
    letter-spacing: 1.2px;
}
header div .meleft ul li div{
    text-align: center;
    position: absolute; 
    left:0; width: 100%;
    display: inline-block;
    margin: 0; padding: 70px 0 0 0;
    opacity: 0;
}
header div .meleft ul:hover li div{
    opacity: 1;
}
header div .meleft ul li div a{
    font-size: 12px;
    font-weight: lighter;
    margin: 0;
    color: #fff;
    display: block;
    white-space: nowrap;
    margin-bottom: 15px;
    font-family: 'Noto Sans KR';
}
header div .meleft ul li div a:hover{
    font-weight: bold;
}
header div .meright{}
header div .meright a{}
header div .meright > a img{
    width: 20px; height: 20px;
    margin-left: 20px;
}
header .bg{
    background-color: rgba(93, 104, 90, 0.8);
    border-radius: 0 0 50px 50px;
    width: 100%; height: 250px;
    position: fixed;
    left: 0; top: 30px;
    opacity: 0;
    z-index: 1;

    transition: .5s;
}
header.active .bg{opacity: 1;}





/* header_login */
header .log_bg{
    position: fixed;
    left: 0; top: 81px;
    width: 100%; height: 100%;
    background-color: rgba(93, 104, 90, 0.7);
    z-index: 799;
    display: none;
}
header .log_bg.active{display: block;}
header .log_bg .login{
    position: fixed;
    left: 50%; top: 55%;
    transform: translate(-50%, -50%);
    z-index: 800;

    background-color: #d8d2c5;
    width: 25%; height: 500px;
    border-radius: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
header .log_bg .login h5{
    font-size: 30px;
    letter-spacing: 1.2px;
    text-align: center;
    color: #6d6d6d;
    margin-bottom: 40px;
}
header .log_bg .login h5::after{
    content: '';
    clear: both;
    display: block;
    border-bottom: 3px solid #5d685a;
    margin: 20px auto 0;
    width: 30px;
}
header .log_bg .login .log_ip{}
header .log_bg .login .log_ip .te{}
header .log_bg .login .log_ip .te input{
    border: 0; background-color: rgba(0, 0, 0, 0);
    border-bottom: 2px solid #6d6d6d;
    width: 200px;

    text-align: center;
    color: #6d6d6d;
    font-size: 14px;
    outline-style: none;
    padding-bottom: 10px;
    margin-bottom: 20px;
    letter-spacing: 1.2px;
}
header .log_bg .login .log_ip .bt{margin-bottom: 5px;}
header .log_bg .login .log_ip .bt a{
    font-size: 18px;
    letter-spacing: 1.2px;
    color: #6d6d6d;
}
header .log_bg .login .log_ip .bt a:nth-of-type(1){margin-right: 10px;}
header .log_bg .login .log_ip .bt a:hover{color: #a8855a;}
header .log_bg .login .log_ip a{
    font-size: 14px;
    letter-spacing: 1.2px;
    color: #6d6d6d;
}
header .log_bg .login .log_ip a:hover{color: #a8855a;}





/* footer */
footer{}
footer div{
    background-color: #d8d2c5;
    width: 100%;
    padding: 50px 0 60px 0;
}
footer div p{
    padding: 0 15%;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 1.2px;
    color: #6d6d6d;
}
footer div p:nth-of-type(1){margin-bottom: 20px;}
footer div p:nth-of-type(2){margin-bottom: 20px;}



.mobile{
    display: none;
    position: fixed;
    right: 10%; top: 3%;
    z-index: 9999;
}
.mobile img{width: 22px;}






@media (min-width: 769px) and (max-width: 1374px){
    .mobile{display: block;}
    header .meleft{display: none;}
    /* .mobile + .meleft.active{display: block;} */
    header{
        width:100%;
        position: fixed;
        right: 0; top: 0;
        z-index: 900;
    }
    header > div > div{
        display: block;
        justify-content: space-between;
        align-items: center;
        padding: 18px 10%;  
        width: 100%;
        margin: 0 auto;
        background: #d8d2c5;
        border-radius: 0 0 0px 0px;
        position: relative;
        z-index: 2;
    }
    header div h1{}
    header div h1 img{
        width: 100px; height: 35px;
        margin-right: 0px;
    }
    header div .meleft{
        margin-right: auto;

        position: fixed;
        top: 71px; left:0;
        width:100%; height:37%;
        background-color: rgba(93, 104, 90, 0.8);

        display: none;
        justify-content: space-around;
        align-items: center;
    }
    header div .meleft ul{
        width:100%;
        display: flex;
        justify-content: space-between;
        align-items:center;
    }
    header div .meleft ul li{
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;

        margin: 80px auto;
    }
    header div .meleft ul li a{
        margin: 0 3vw;
        font-size: 18px;
        color: #fff;
        font-weight: bold;
        letter-spacing: 1.2px;

    }
    header div .meleft ul li .me_ta::after{
        content: '';
        display: block;
        clear: both;
        border-bottom: 2px solid #ddd;
        padding: 3px 0;
    }
    header div .meleft ul li div{
        text-align: center;
        position: absolute; 
        left: 0; top: 60px;
        width: 100%;
        /* display: inline-block; */
        margin: 0; padding: 0 0 0 0;
        line-height: 1;
        opacity: 1;
        /* display: block; */
    }
    header div .meleft ul li div a{
        font-size: 12px;
        font-weight: lighter;
        margin: 0;
        color: #fff;
        /* display: block; */
        /* white-space: nowrap; */
        margin-bottom: 15px;
        font-family: 'Noto Sans KR';
    }
    header div .meleft ul li div a:hover{
        font-weight: bold;
    }
    header div .meright{
        position: fixed;
        right: 0; bottom: 0;
        width: 100%; height: 50px;
        background-color: #d8d2c5;
        padding: 0 10%;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    header div .meright a{}
    header div .meright > a img{
        width: 25px; height: 25px;
        margin-left: 0px;
    }
    header .bg{
        background-color: rgba(93, 104, 90, 0.8);
        border-radius: 0 0 50px 50px;
        width: 100%; height: 250px;
        position: fixed;
        left: 0; top: 30px;
        opacity: 0;
        z-index: 1;

        transition: .5s;
        display: none;
    }
    header:hover .bg{opacity: 1;}



    /* header_login */
    header .log_bg{
        position: fixed;
        left: 0; top: 71px;
        width: 100%; height: 87.5%;
        background-color: rgba(93, 104, 90, 0.7);
        z-index: 799;
        display: none;
    }
    header .log_bg.active{display: block;}
    header .log_bg .login{
        position: fixed;
        left: 50%; top: 50%;
        transform: translate(-50%, -50%);
        z-index: 800;

        background-color: #d8d2c5;
        width: 40%; height: 500px;
        border-radius: 50px;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
    header .log_bg .login h5{
        font-size: 30px;
        letter-spacing: 1.2px;
        text-align: center;
        color: #6d6d6d;
        margin-bottom: 40px;
    }
    header .log_bg .login h5::after{
        content: '';
        clear: both;
        display: block;
        border-bottom: 3px solid #5d685a;
        margin: 20px auto 0;
        width: 30px;
    }
    header .log_bg .login .log_ip{}
    header .log_bg .login .log_ip .te{}
    header .log_bg .login .log_ip .te input{
        border: 0; background-color: rgba(0, 0, 0, 0);
        border-bottom: 2px solid #6d6d6d;
        width: 200px;

        text-align: center;
        color: #6d6d6d;
        font-size: 14px;
        outline-style: none;
        padding-bottom: 10px;
        margin-bottom: 20px;
        letter-spacing: 1.2px;
    }
    header .log_bg .login .log_ip .bt{margin-bottom: 5px;}
    header .log_bg .login .log_ip .bt a{
        font-size: 18px;
        letter-spacing: 1.2px;
        color: #6d6d6d;
    }
    header .log_bg .login .log_ip .bt a:nth-of-type(1){margin-right: 10px;}
    header .log_bg .login .log_ip .bt a:hover{color: #a8855a;}
    header .log_bg .login .log_ip a{
        font-size: 14px;
        letter-spacing: 1.2px;
        color: #6d6d6d;
    }
    header .log_bg .login .log_ip a:hover{color: #a8855a;}




    /* footer */
    footer{}
    footer div{
        background-color: #d8d2c5;
        width: 100%;
        padding: 50px 0 60px 0;
    }
    footer div p{
        padding: 0 10%;
        font-size: 12px;
        line-height: 2;
        letter-spacing: 1.2px;
        color: #6d6d6d;
    }
    footer div p:nth-of-type(1){margin-bottom: 20px;}
    footer div p:nth-of-type(2){margin-bottom: 20px;}
}
    












/* media */
@media (max-width:768px){
    .mobile{
        display: block;
        right: 10%; top: 2%;
    }
    .mobile + .meleft{display: none;}
    .mobile + .meleft.active{display: flex;}
    header{
        width:100%;
        position: fixed;
        right: 0; top: 0;
        z-index: 900;
    }
    header > div > div{
        display: block;
        justify-content: space-between;
        align-items: center;
        padding: 10px 10%;  
        width: 100%;
        margin: 0 auto;
        background: #d8d2c5;
        border-radius: 0 0 0px 0px;
        position: relative;
        z-index: 2;
    }
    header div h1{}
    header div h1 img{
        width: 100px; height: 33px;
        margin-right: 0px;
    }
    header div .meleft{
        margin-right: auto;

        position:fixed;
        top:53px; left:0;
        width:100%; height:100%;
        background-color: rgba(93, 104, 90, 0.8);
        text-align: center;

        display: flex;
        justify-content: center;
        align-items: center;
        display: none;
    }
    header div .meleft ul{
        width:100%;
        margin-top: 160px;
    }
    header div .meleft ul li{
        display: flex;
        justify-content: center;
        align-items: center;

        position: relative;
        line-height: 2;
        margin: 0 0 200px 0;
    }
    header div .meleft ul li a{
        margin: 0 2vw;
        font-size: 18px;
        color: #fff;
        font-weight: bold;
        letter-spacing: 1.2px;
    }
    header div .meleft ul li .me_ta::after{
        content: '';
        display: block;
        clear: both;
        border-bottom: 2px solid #ddd;
        padding: 0 0;
    }
    header div .meleft ul li div{
        text-align: center;
        position: absolute; 
        left: 0; top: 0;
        width: 100%;
        /* display: inline-block; */
        margin: 0; padding: 60px 0 0 0;
        line-height:1;
        opacity: 0;
        display: none;
    }
    header div .meleft ul:hover li div{
        opacity: 1;
        display: block;
    }
    header div .meleft ul li div a{
        font-size: 12px;
        font-weight: lighter;
        margin: 0;
        color: #fff;
        display: block;
        white-space: nowrap;
        margin-bottom: 15px;
        font-family: 'Noto Sans KR';
    }
    header div .meleft ul li div a:hover{
        font-weight: bold;
    }
    header div .meright{
        position: fixed;
        right: 0; bottom: 0;
        width: 100%; height: 40px;
        background-color: #d8d2c5;
        padding: 0 10%;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    header div .meright a{}
    header div .meright > a img{
        width: 22px; height: 22px;
        margin-left: 0px;
    }
    header .bg{
        background-color: rgba(93, 104, 90, 0.8);
        border-radius: 0 0 50px 50px;
        width: 100%; height: 250px;
        position: fixed;
        left: 0; top: 30px;
        opacity: 0;
        z-index: 1;

        transition: .5s;
        display: none;
    }
    header:hover .bg{opacity: 1;}




    
    /* header_login */
    header .log_bg{
        position: fixed;
        left: 0; top: 53px;
        width: 100%; height: 90.4%;
        background-color: rgba(93, 104, 90, 0.7);
        z-index: 799;
        display: none;
    }
    header .log_bg.active{display: block;}
    header .log_bg .login{
        position: fixed;
        left: 50%; top: 55%;
        transform: translate(-50%, -60%);
        z-index: 800;

        background-color: #d8d2c5;
        width: 50%; height: 300px;
        border-radius: 50px;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
    header .log_bg .login h5{
        font-size: 26px;
        letter-spacing: 1.2px;
        text-align: center;
        color: #6d6d6d;
        margin-bottom: 30px;
    }
    header .log_bg .login h5::after{
        content: '';
        clear: both;
        display: block;
        border-bottom: 3px solid #5d685a;
        margin: 10px auto 0;
        width: 30px;
    }
    header .log_bg .login .log_ip{}
    header .log_bg .login .log_ip .te{}
    header .log_bg .login .log_ip .te input{
        border: 0; background-color: rgba(0, 0, 0, 0);
        border-bottom: 2px solid #6d6d6d;
        width: 150px;

        text-align: center;
        color: #6d6d6d;
        font-size: 14px;
        outline-style: none;
        padding-bottom: 10px;
        margin-bottom: 20px;
        letter-spacing: 1.2px;
    }
    header .log_bg .login .log_ip .bt{margin-bottom: 5px;}
    header .log_bg .login .log_ip .bt a{
        font-size: 14px;
        letter-spacing: 1.2px;
        color: #6d6d6d;
    }
    header .log_bg .login .log_ip .bt a:nth-of-type(1){margin-right: 10px;}
    header .log_bg .login .log_ip .bt a:hover{color: #a8855a;}
    header .log_bg .login .log_ip a{
        font-size: 12px;
        letter-spacing: 1.2px;
        color: #6d6d6d;
    }
    header .log_bg .login .log_ip a:hover{color: #a8855a;}
        



    /* footer */
    footer{}
    footer div{
        background-color: #d8d2c5;
        width: 100%;
        padding: 50px 0 60px 0;
    }
    footer div p{
        padding: 0 10%;
        font-size: 12px;
        line-height: 2;
        letter-spacing: 1.2px;
        color: #6d6d6d;
    }
    footer div p:nth-of-type(1){margin-bottom: 20px;}
    footer div p:nth-of-type(2){margin-bottom: 20px;}
}
