@charset 'utf-8';
@import url('common.css');





/* title */
main .title{
    position: relative;
}
main .title article{
    position: absolute;
    background: rgba(93, 104, 90, 0.6);
    width: 100%; height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}
main .title article h2{
    color: #fff; font-size: 40px;
    letter-spacing: 2px;
}
main .title article h2::after{
    content: '';
    clear: both;
    display: block;

    border-bottom: 5px solid #fff;
    margin: 30px auto 0;
    width: 30px;
}
main .title img{
    width: 100%; height: 70vh;
}


/* info */
main .info{
    width: 70%;
    margin: 175px auto;
    text-align: center;

    color: #6d6d6d;
}
main .info h3{
    text-align: left;
    margin-left: 30px;
    font-size: 18px;
}
main .info .te{
    text-align: right;
    margin: 0 30px 10px;
    font-size: 14px;
}
main .info table{
    width: 100%;
    border: 0;
    border-spacing: 0;
    border-collapse: collapse;
}
main .info table tbody{
    border-top: 1px solid #5d685a;
    border-bottom: 1px solid #5d685a;
}
main .info table tbody tr{
    border-bottom: 1px dashed #5d685a;
}
main .info table tbody tr th{
    width: 20%;
    display: table-cell;
}
main .info table tbody tr td{
    width: 80%;
}
main .info table tbody tr th, main .info table tbody tr td{
    text-align: left;
    border: 0;
    border-width: 1px 0 1px 0;
    padding: 20px 30px;

    font-size: 14px;
}
main .info table tbody tr td input{}
main .info table tbody tr td select{
    color: #6d6d6d;
    font-size: 14px;
    letter-spacing: 1.2px;
}
main .info table tbody tr td select option{
    color: #6d6d6d;
    font-size: 14px;
    letter-spacing: 1.2px;
}
main .info table tbody tr td label{
    color: #6d6d6d;
    font-size: 14px;
    letter-spacing: 1.2px;
}
main .info table tbody tr td p{
    color: #6d6d6d;
    font-size: 14px;
    letter-spacing: 1.2px;
}
main .info .bt a{
    text-align: center;
    color: #6d6d6d;
    font-size: 12px;
    line-height: 3;
    letter-spacing: 2px;
    font-weight: bold;

    border: 3px solid #a8855a;
    border-radius: 40px;
    padding: 0 40px;
    margin: 0 auto;
    margin-top: 60px;
    display: inline-block;
    transition: .5s;
}
main .info .bt a:nth-child(1){margin-right: 20px;}
main .info .bt > a:hover{color: #fff; background-color: #a8855a;}










@media (max-width:767px){

    /* title */
    main .title{
        position: relative;
    }
    main .title article{
        position: absolute;
        background: rgba(93, 104, 90, 0.6);
        width: 100%; height: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
    }
    main .title article h2{
        color: #fff; font-size: 26px;
        letter-spacing: 2px;
    }
    main .title article h2::after{
        content: '';
        clear: both;
        display: block;

        border-bottom: 3px solid #fff;
        margin: 10px auto 0;
        width: 30px;
    }
    main .title img{
        width: 100%; height: 40vh;
    }


    /* info */
    main .info{
        width: 80%;
        margin: 100px auto;
        text-align: center;

        color: #6d6d6d;
    }
    main .info h3{
        text-align: left;
        margin-left: 0px;
        font-size: 14px;
    }
    main .info .te{
        text-align: right;
        margin: 0 0px 10px;
        font-size: 12px;
    }
    main .info table{
        width: 100%;
        border: 0;
        border-spacing: 0;
        border-collapse: collapse;
    }
    main .info table tbody{
        border-top: 1px solid #5d685a;
        border-bottom: 1px solid #5d685a;
    }
    main .info table tbody tr{
        border-bottom: 1px dashed #5d685a;
    }
    main .info table tbody tr th{
        width: 40%;
        display: table-cell;
    }
    main .info table tbody tr td{
        width: 60%;
    }
    main .info table tbody tr th, main .info table tbody tr td{
        text-align: left;
        border: 0;
        border-width: 1px 0 1px 0;
        padding: 20px 0px;
        font-size: 12px;
    }
    main .info table tbody tr td input{width: 100%;}
    main .info table tbody tr td select{
        color: #6d6d6d;
        font-size: 12px;
        letter-spacing: 1.2px;
    }
    main .info table tbody tr td select option{
        color: #6d6d6d;
        font-size: 12px;
        letter-spacing: 1.2px;
    }
    main .info table tbody tr td label{
        color: #6d6d6d;
        font-size: 12px;
        letter-spacing: 1.2px;
    }
    main .info table tbody tr td p{
        color: #6d6d6d;
        font-size: 12px;
        letter-spacing: 1.2px;
    }
    main .info .bt a{
        text-align: center;
        color: #6d6d6d;
        font-size: 12px;
        line-height: 2.5;
        letter-spacing: 2px;
        font-weight: bold;

        border: 3px solid #a8855a;
        border-radius: 40px;
        padding: 0 20px;
        margin: 0 auto;
        margin-top: 40px;
        display: inline-block;
        transition: .5s;
    }
    main .info .bt a:nth-child(1){margin-right: 10px;}
    main .info .bt > a:hover{color: #fff; background-color: #a8855a;}
}